.App {
  text-align: center;
  position: relative;
}

.header {
  padding-top: 30px;
  height: 65px;
  background-color: darkblue;
  font-weight: 700;
  color: white;
  font-size: 25px;
  text-align: left;
  padding-left: 25px;
  position: relative;
}

.border {
  border: 15px solid lightgrey;
}

.search-input {
  background-color: lightgray;
  width: 700px;
  height: 60px;
  box-shadow: 0px 0px #888888;
  text-align: left;
  padding-left: 60px;
  font-size: 30px;
  color: black;
}

.search-input::-webkit-input-placeholder {
  font-size: 30px;
  color: black;
  text-align: left;
}

.search-button {
  margin-left: 15px;
  position: relative;
  height: 80px;
  width: 100px;
  background-color: darkblue;
  color: white;
  bottom: 5px;
  border-radius: 5px;
}

.input-icons i { 
  position: absolute; 
} 
  
.input-icons { 
  padding-top: 25px;
  margin-bottom: 40px;  
} 
  
.icon { 
  color: black;
  font-size: 35px;
  padding: 15px; 
} 

.clear {
  clear: both;
}

.shows {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.show {
  padding-bottom: 130px;
  position: relative;
}

.show-background {
  background-color: lightgrey;
  z-index: -1;
  height: 310px;
  padding-top: 30px;
  top: 30px;
  position: relative;
}

.show-summary {
  position: relative;
}

.show-text {
  text-align: left;
  position: relative;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-image {
  height: 400px;
  z-index: 2;
  float: left;
  left: 20px;
  position: relative;
  margin-right: 70px;
  max-width: 290px;
}

.show-episodes-button {
  height: 40px;
  width: 150px;
  top: 25px;
  text-align: center;
  position: relative;
  padding-left: 27px;
  padding-top: 10px;
  display: -webkit-flex;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
}
  
